.candy-section 
    min-height: 30vh
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center


.button-container 
    width: 20rem  
    display: flex
    justify-content: space-around
    button
      cursor: pointer
      background: linear-gradient(to bottom right, skyblue, palegreen)
      color: white
      border: none 
      border-radius: 1rem
      padding: 1.3rem .7rem
    button:hover 
         background: linear-gradient(to bottom right, white, palegreen)
